# Бинарные файлы, скомпилированные из исходников
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Каталоги, которые создаются средой разработки и сборки
/bin/
/pkg/

# Конфигурационные файлы среды разработки (например, для Visual Studio Code)
.vscode/

# Файлы, автоматически создаваемые при выполнении команд go
*.o
*.a

# Файлы логов
*.log

# Конфигурационные файлы системы контроля версий
.git/

# Различные системные файлы
.DS_Store

# Скрытые файлы и каталоги
.*
!/.gitignore
